 <div class="row">
      <div class="large-12 columns">
  


        <div class="margin"></div>

        <div class="row">

          <div class="medium-6 columns">
            <h1>Welcome to Foundation</h1> 
          </div>

          <div class="medium-6 columns">
          <h1> <%= link_to 'New Picture', new_picture_path, class: 'button success right small round' %></h1>
          </div>

        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="large-12 columns">
        <div id="#slider">

          <ul class="example-orbit" data-orbit>
            <li>
              <img src="http://lorempixel.com/1028/400/sports/" alt="slide 1" />
              <div class="orbit-caption">
                Caption One.
              </div>
            </li>
            <li class="active">
              <img src="http://lorempixel.com/1028/400/sports/2" alt="slide 2" />
              <div class="orbit-caption">
                Caption Two.
              </div>
            </li>
            <li>
              <img src="http://lorempixel.com/1028/400/sports/4" alt="slide 3" />
              <div class="orbit-caption">
                Caption Three.
              </div>
            </li>
          </ul>
        
      </div><!-- #slider -->
    </div><!-- row  -->

    <hr>

    <div class="row">

      <div class="medium-2 columns">

        <ul class="side-nav category">
          <% @categories.each do |category| %>
          <li><%= link_to category.name, category_path(category) %></li>
         <% end %>
        </ul>

      </div>

      <div class="medium-10 columns">

          <ul class="small-block-grid-3">
            <% @pictures_per_category.each do |picture| %>
            <li><div class="view view-sixth">
                    <img class="th" src="http://lorempixel.com/400/300/<%= picture.picture_url %>" />
                    <div class="mask">
                        <h2><%= picture.title %></h2>
                        <p><%= picture.description %></p>
                        <%= link_to 'Read More', picture_path(picture), class: "uk-button" %>
                    </div>
                </div>
            </li>
            <% end %>
          </ul>

       </div>
    
    </div><!-- row  -->



